.contentBtns {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn {
  background-color: #047857;
  width: 10%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  padding: 0.3rem 0px;
  color: white;
  border: 1px solid #096148;
  transition: all 300ms;
}
.btn:hover {
  background-color: #074634;
}
